<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Wishlist</title>
</head>
<body>
<div style="position: relative;">
    <img src="./images/5343cbe9-0f34-4421-8c1a-260b27a9c058-mschf_210311_s8n-5105_h 1.png"
    width="530px" style="position: absolute;">
    <img src="./images/97D2AF8E-1CB3-467A-9557-FC8B99CE1455-removebg-preview 1.png" 
    style="position: absolute;"width="100px">
    <img src="./images/Arrow 1.png" style="position: absolute; margin-left: 350px;
     margin-top:650px ;">
     <img src="./images/Arrow 2.png" style="position: absolute; margin-left: 150px;
     margin-top:650px ;">
     
     <img src="./images/Nike.png" style="position: absolute; margin-top: 200px;
     margin-left: 750px;" width="200px">
     <img src="./images/new.png" style="position: absolute; margin-top: 200px;
     margin-left: 950px;" width="35px">
     <img src="./images/Airmax 97 Satan.png" style="position: absolute; margin-top: 330px;
     margin-left: 750px;" width="350px">
     <img src="./images/shoesss.png"style="position: absolute; margin-top: 420px;
     margin-left: 750px;" width="200px">

     <img src="/images/Group 1.png" style="position: absolute; margin-top: 600px;
     margin-left: 750px;" width="180px">

     <img src="./images/Size.png" style="position: absolute; margin-top: 450px;
     margin-left: 1200px;" width="40px">

    <img src="./images/UK 9.png" style="position: absolute; margin-top: 500px;
     margin-left: 1200px;" width="40px">

    <img src="./images/Arrow 3.png" style="position: absolute; margin-top: 500px;
     margin-left: 1250px;" width="28px">
    
  
   
   <form style="position: absolute; margin-top: 550px; margin-left: 1200px">
       <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Jgs83xTzNzu2NP" async>
         </script> 
         </form>
    
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>