<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Shopping cart </title>
	<link rel="stylesheet" type="text/css" href="/css/catt.css">
</head>
<body>
	<h1><img src="/images/logo-removebg-preview.png" width="75px"></h1>
	<section>
		<div class="item">
			<img src="/images/nike1.jpg" width="200px">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quo, modi ea voluptas tempora vero cumque incidunt eum animi</p>
			<h6>INR 7452</h6>
			<span></span>
			<button>Add-cart</button>
			
		</div>
		<div class="item">
			<img src="/images/nike2.jpg" width="150px">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quo, modi ea voluptas tempora vero cumque incidunt eum animi</p>
			<h6>INR 7456</h6>
			<span></span>
			<button>Add-cart</button>
		</div>
		<div class="item">
			<img src="/images/nike3.jpg" width="250px">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quo, modi ea voluptas tempora vero cumque incidunt eum animi</p>
			<h6>INR 54687</h6>
			<span></span>
			<button>Add-cart</button>
		</div>
		<div class="item">
			<a href="http://localhost:8000/buynow"><img src="/images/5343cbe9-0f34-4421-8c1a-260b27a9c058-mschf_210311_s8n-5105_h 1.png" width="200"></a>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quo, modi ea voluptas tempora vero cumque incidunt eum animi</p>
			<h6>INR 7456</h6>
			<span></span>
			<button>Add-cart</button>
		</div>
	</section>
	<div class="select">
		
	</div>

	<section>
		<div class="item">
			<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/77c37fbb-97b9-47af-8923-57464f5bf17e/sportswear-san-francisco-big-kids-t-shirt-rG7f3S.png" width="250px">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quo, modi ea voluptas tempora vero cumque incidunt eum animi</p>
			<h6>INR 7546</h6>
			<span></span>
			<button>Add-cart</button>
			
		</div>
		<div class="item">
			<img src="https://pa.namshicdn.com/product/A6/614621W/1-zoom-desktop.jpg" width="220px">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quo, modi ea voluptas tempora vero cumque incidunt eum animi</p>
			<h6>INR 4562</h6>
			<span></span>
			<button>Add-cart</button>
		</div>
		<div class="item">
			<img src="https://pa.namshicdn.com/product/A0/870001W/3-zoom-desktop.jpg" width="220px">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quo, modi ea voluptas tempora vero cumque incidunt eum animi</p>
			<h6>INR 56478</h6>
			<span></span>
			<button>Add-cart</button>
		</div>
		<div class="item">
			<img src="https://m.media-amazon.com/images/I/81JMEbZIWRL._UX522_.jpg" width="220">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quo, modi ea voluptas tempora vero cumque incidunt eum animi</p>
			<h6>INR 6897</h6>
			<span></span>
			<button>Add-cart</button>
		</div>
	</section>
	<div class="select">
		
	</div>

	<section>
		<div class="item">
			<img src="https://crayon.pk/wp-content/uploads/2018/01/Pakistani-Casual-Dresses-Designs.jpg" width="200px">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quo, modi ea voluptas tempora vero cumque incidunt eum animi</p>
			<h6>INR 5520</h6>
			<span></span>
			<button>Add-cart</button>
			
		</div>
		<div class="item">
			<img src="https://i.pinimg.com/236x/7f/3a/53/7f3a5312736376adb3f3547cfc9bccad.jpg" width="150px">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quo, modi ea voluptas tempora vero cumque incidunt eum animi</p>
			<h6>INR 345.89</h6>
			<span></span>
			<button>Add-cart</button>
		</div>
		<div class="item">
			<img src="https://i.pinimg.com/736x/61/51/f1/6151f1a49e22a32b9925498c649dbed4.jpg" width="220px">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quo, modi ea voluptas tempora vero cumque incidunt eum animi</p>
			<h6>INR 658</h6>
			<span></span>
			<button>Add-cart</button>
		</div>
		<div class="item">
			<img src="https://www.beyoung.in/api/cache/catalog/products/images_for_customized_products_26_4_2022/custom_t-shirt_women_base_26_4_2022_400x533.jpg" width="200">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quo, modi ea voluptas tempora vero cumque incidunt eum animi</p>
			<h6 >50</h6>
			<span></span>
			<button>Add-cart</button>
		</div>
	</section>
	<div class="select">
		
	</div>
</body>
</html>
<script type="text/javascript" src="/js/cart.js"></script>  