<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Landing Page</title>
</head>

<body style="background-color: #d0dadb;">
    <div style="position: relative;">
       <img src="/images/Group 33.png" style="position: absolute; margin-left: 280px; 
       margin-top: 20px;" width="950px">
    <img src="./images/Ellipse 10.png" style="position: absolute; margin-left: 618px; 
    margin-top: 218px;" width="265px">
    <img src="./images/Rectangle 13.png" style="position: absolute; margin-left: 285px; 
    margin-top: 630px;" width="1000px">
    <img src="./images/Discover the Difference.png=" style="position: absolute; margin-left: 580px; 
    margin-top: 150px;" width="340px">
    <img src="./images/Group 7.png" style="position: absolute; margin-left: 295px; 
    margin-top: 230px;" width="650px">
    <img src="/images/ss.png" style="position: absolute; margin-left: 350px; 
    margin-top: 410px;" width="200px">
    <img src="./images/shoes.png" style="position: absolute; margin-left: 405px; 
    margin-top: 400px;" width="85px">
    <img src="./images/catty.png" style="position: absolute; margin-left: 280px; 
    margin-top: 50px;" width="85px">
    <img src="./images/Group 12.png" style="position: absolute; margin-left: 350px; 
    margin-top: 65px;" width="85px">
    <img src="./images/Group 5.png" style="position: absolute; margin-left: 980px; 
    margin-top: 130px;" width="200px">
    <button type="button" class="btn btn-dark" style="position: absolute; margin-left: 1100px; 
    margin-top: 70px; width: 110px;"><a href="http://localhost:8000/welcome" style="color: white;text-decoration: none;">Get Started</a></button>
    <img src="./images/Make a Wishlist with us.png" style="position: absolute; margin-left: 650px; 
    margin-top: 120px;" width="200px">
    <img src="./images/Ellipse 9.png" style="position: absolute; margin-left: 320px; 
    margin-top: 390px;" width="25px">
    <img src="./images/Group 14.png" style="position: absolute; margin-left: 590px; 
    margin-top: 300px;" width="25px">
    <img src="./images/Ellipse 9.png" style="position: absolute; margin-left: 1180px; 
    margin-top: 390px;" width="15px">
     <img src="./images/Ellipse 3.png" style="position: absolute; margin-left: 895px; 
     margin-top: 600px;" width="80px">
      <img src="./images/Ellipse 13.png" style="position: absolute; margin-left: 1060px; 
      margin-top: 150px;" width="15px">
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>