<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
  <link rel="stylesheet" href="/Public/css/normalize.css">
  <link rel="stylesheet" href="/Public/css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body style="background-color: #f2f2f2">

  <!-- headder part -->
  <nav class="navbar navbar-expand-lg" style="background-color:white;">
    <div class="container-fluid">
     <a href="http://localhost:8000/cart"><img src="/images/catty.png" width="50px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="position: relative;">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="position: absolute;">
          <li class="nav-item" style="margin-left: 380px; ">
            <a class="nav-link active" aria-current="page" href="#" style="color: #F15412;">New arrivals</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="#" style="color: #F15412;">Shoes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: #F15412;">Apparels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: #F15412;">Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: #F15412;">Accessories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: #F15412;">Customer Support</a>
          </li>
        </ul>
      
      </div>
    </div>
  </nav>

    <br>
    <br>
    <br>

  <!-- Carousel -->

  <div class="carousel_img">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/shopping.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/fathersday.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/sale50.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/5092428.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item">
          <img src="/images/5594188.jpg" class="d-block w-100" alt="...">
        </div>
        
        <div class="carousel-item">
          <img src="/images/girl.jpeg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

    <!-- Cards -->
    
  <div class="cards d-flex justify-content-center" style="background-color: #F2EBE9;">
    <div class="card1 my-4 me-4">
      <h5 class="p-2">Premium Watches</h5>
      <h6>
    <span style="color:#8d1b1b">upto</span><br>
    <span class="forty" style="color:#d40303" >40%</span>
    <span style="color:#8d1b1b">off</span>
      </h6>
      <img src="/images/Rectangle 1.png">
    </div>
    <div class="card2 my-4 mx-4 ">
      <h5 class="p-2">Sport Shoes</h5>
      <h6>
        <span style="color:#d78f00">offers on</span><br>
        <span class="premium" style="color:#5235d4" >Premium</span><br>
        <span style="color:#d78f00">brands</span>
          </h6>
      <img src="/images/EC6C9BEE-FFCD-42D1-9C0D-2476949DB518-removebg-preview 1.png">
    </div>
    <div class="card3 my-4 mx-4">
      <h5 class="p-2">Graphisc Tshirts</h5>
      <h6>
        <span class="off" style="color:#e10000" >500/- off</span><br>
        <span style="color:#290000">on purchase</span><br>
        <span style="color:#290000">of 2 tees</span>
        </h6>
      <img src="/images/BD64EF4A-1A5C-497D-98AA-E69E1CF007D2-removebg-preview 1.png">

    </div>
    <div class="card4 my-4 ms-4">
      <h5 class="p-2">Winter Jackets</h5>
      <h6>
        <span style="color:#e10000">New</span>
        <span style="color:#290000">winter</span><br>
        <span style="color:#290000">collection in</span><br>
        <span class="affordable" style="color:#e10000" >affordable</span><br>
        <span style="color:#290000">price</span>
          </h6>
      <img src="/images/IMG_1349 1.png">
    </div>

  </div>
<div style="position: relative;">
 <a href="https://www.adidas.co.in/"><img src="/images/nike55.jpeg" width="780px" style="margin-left: 40px;"></a>
  <a href="https://www.fastrack.in/shop/watches?sort=3&utm_source=Google&utm_medium=CPC&utm_Campaign=ADL_Fastrack_Watch_Exact_BAU&gclid=CjwKCAjw14uVBhBEEiwAaufYx0aff_YvbmKGe7WxndQIoasNrZTCWwdF1stNT3oz_xrW-t1NeI6UNhoCgnwQAvD_BwE"><img src="/images/watch.jpeg" style="position: absolute; margin-left: 0px;" width="700px" ></a>
  </div>
  <br>
  <br>

   <div style="position: relative;">
     <a href="https://www.maxfashion.in/in/en/search?q=%3Abadge.title.en%3A40%25%20OFF%3Abadge.title.en%3A30%25%20OFF&gclid=CjwKCAjw14uVBhBEEiwAaufYxxm1BmPh1Ma5iHIMb73Bbt6g0jreVgSyxfqkmkB7F6kL83os3UqtSxoCOkwQAvD_BwE"><img src="/images/me.jpeg"  width="300px" style="margin-left: 150px;"></a>
    <a href="https://www.nike.com/in/?cp=76060516106_aff_|FE4O7wtxe6g|&ranMID=41134&ranEAID=FE4O7wtxe6g&ranSiteID=FE4O7wtxe6g-WpBv2ZCe.beAABKUpEQakg"><img src="/images/nike44.jpeg" width="380px" style="margin-left: 150px;"></a>
     <a href="https://www.pantaloons.com/?utm_source=affiliate&utm_medium=cps&utm_campaign=Dangleads_1835"><img src="/images/shirt.jpeg" width="300px" style="margin-left: 150px;"></a>
   </div>
   
   <br>
   <br>


  <!--Footer-->


    <footer
            class="text-center text-lg-start text-dark"
            style="background-color: #ECEFF1"
            >
      <section
               class="d-flex justify-content-between p-4 text-white"
               style="background-color: #ffc107"
               >

        <div class="me-5">
          <span>Get connected with us on social networks:</span>
        </div>
        <div>
          <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </section>
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <div class="row mt-3">
           <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
           <h6 class="text-uppercase fw-bold">Wishlist</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                Your wish on our wishlist
              </p>
            </div>
           <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
           <h6 class="text-uppercase fw-bold">Products</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a href="#!" class="text-dark" style="text-decoration: none;">Premium Watches</a>
              </p>
              <p>
                <a href="#!" class="text-dark" style="text-decoration: none;">Sports Shoes</a>
              </p>
              <p>
                <a href="#!" class="text-dark" style="text-decoration: none;">Graphisc Tshirts</a>
              </p>
              <p>
                <a href="#!" class="text-dark" style="text-decoration: none;">Winter Jackets</a>
              </p>
            </div>
           <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
             <h6 class="text-uppercase fw-bold">Useful links</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a href="#!" class="text-dark" style="text-decoration: none;">Your Account</a>
              </p>
              <p>
                <a href="#!" class="text-dark" style="text-decoration: none;">Become an Affiliate</a>
              </p>
              <p>
                <a href="#!" class="text-dark" style="text-decoration: none;">Shipping Rates</a>
              </p>
              <p>
                <a href="#!" class="text-dark" style="text-decoration: none;">Help</a>
              </p>
            </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
           <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p><i class="fas fa-home mr-3"></i> Guru Nanak Institute Of Technology, Kolkata</p>
              <p><i class="fas fa-envelope mr-3"></i> wishlist@gnit.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 91 234 567 88</p>
              <p><i class="fas fa-print mr-3"></i> + 91 234 567 89</p>
            </div>
          </div>
                  </div>
      </section>
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2022 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/"
           >Wishlist.com</a
          >
      </div>
    </footer>
</body>

</html>
