<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/veri_styles.css">
    <title>Document</title>
</head>
<style>
    .loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #009578;
  border-radius: 50%;
  animation: loading 0.90s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
</style>

<script>
    window.addEventListener("load", () => {
  const loader = document.querySelector(".loader");

  loader.classList.add("loader--hidden");

  loader.addEventListener("transitionend", () => {
    document.body.removeChild(loader);
  });
});
</script>
<body>
    <div id="mobileCenter"><img src="/images/IMG_1289 1.png" alt=""></div>
    <div id="doneRight"><img src="/images/done.png" alt=""></div>
    <div id="logo"><img src="/images/cart.png" alt=""></div>
    <div id="one"><img src="/images/no thanks, i’ll visit later.png" alt=""></div>
    <div id="two"><img src="/images/We’ve successfully verified & registered with your phone number..png" alt=""></div>
    <div ><p id="button"><a href="http://localhost:8000/shopping" style="text-decoration: none; color: white;">Show Now</a></p></div>
    <div class="loader"></div>
</body>
</html>